html {
  background-color: #d3d3d372;
}
.App {
  text-align: start;
  display: grid;
  width: 90%;
  grid-template-areas:
    "header ."
    "search search"
    "searchList nominatedList";
  grid-template-columns: 1fr 1fr;
  margin: 5% auto 0% auto;
}

.header {
  grid-area: header;
  margin-left: 10px;
}

#h1-header,
#h4-movie-title {
  margin-bottom: 5px;
  margin-top: 5px;
}
.search {
  grid-area: search;
}

.search-list {
  grid-area: searchList;
}

.nominated-list {
  grid-area: nominatedList;
}

.search,
.search-list,
.nominated-list {
  background-color: white;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nominated-form {
  color: #3d9837ee;
  text-align: center;
}
#nominated-input {
  width: 80%;
}

input::placeholder {
  color: rgb(106, 92, 14);
  font-style: italic;
}
input {
  padding-left: 10px;
  margin-left: -7px;
  width: 100%;
  height: 40px;
}

.search-form {
  display: inline-flex;
  margin-top: 0%;
  width: 100%;
}
.search-icon {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}
